/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

/*HEADER*/


/*HEADER TOP*/


.container .logo,.login{
    width: 20%;
    padding-top: 10px;
}

.login{
    text-align: right;
}

nav{
    width: 60%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 10px;
  }
  

  li{
    display: inline;
  }

  .header-top {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  /*HEADER BOTTOM*/
  

  .header-bottom .container {
    width: 50%;
  }

 /*MAIN*/

 main .container {
    margin-top: 50px;
 }

.col-big {
    width: 60%;
}

.col-small {
    width: 40%;
}



/*FOOTER*/

footer > :first-child {
    margin-top: 50px;
}

.col-small-footer{
    width: 30%;
}

.col-big-footer{
    width: 70%;
    display: flex;
}

.col-footer {
    width: 25%;
}

footer > :last-child {
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

/*DEBUG*/


.header-top .container {
    background-color: #DAA520;
    height: 40px;
    border: 2px dashed black;
}

.header-bottom .container {
    background-color: #EE82EE;
    height: 300px;
    border: 2px dashed black;
}

.logo {
    border-right: 2px dashed black;
}

.login {
    border-left: 2px dashed black;
}

.col-big{
    background-color: #1E90FF;
    border: 2px dashed black;
}

.col-small {
    background-color: #FFC0CB;
    border: 2px dashed black;
}

main .container{
    height: 400px;
}

main > :last-child {
    background-color: green;
    border: 2px dashed black;
    height: 700px;;
}

.col-small-footer{
    background-color: #F08080;
    border: 2px dashed black;
}

.col-big-footer{
    background-color: #20B2AA;
    border: 2px dashed black;
}

.col-footer {
    background-color: #20B2AA;
    border: 2px dashed white;
}

footer > :first-child {
    height: 400px;
}

footer > :last-child {
    height: 100px;
    background-color: #7FFFD4;
}

footer > :last-child > * {
    background-color: #F08080;
    border: 2px dashed black;
}